/* Variables */
:root {
    --color1: #cad2c5;
    --color2: #72BA82;
    --color3: #428A78;
    --color4: #2A565B;
    --color4opacity: #2A565BAA;
    --color5: #264150;
    --color5opacity: #264150AA;

    --font-header: Asset;
    --font-text: Montserrat;
    --font-text-bold: Montserrat-SemiBold;
}

/* Fonts */
@font-face {
    font-family: Asset;
    src: url(assets/font/Asset-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(assets/font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(assets/font/Montserrat-Medium.ttf);
}

/* Animations */
@keyframes arrow {
    0% {color: transparent}
    100% {color: var(--color1)}
}

/* CSS Styles */
::selection {
    color: var(--color4);
    background-color: var(--color2);
}

.titlescreen {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#arrow {
    margin-top: -50px;
    margin-bottom: 50px;
    color: transparent;
    text-align: center;
    animation-name: arrow;
    animation-duration: 0.2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

body {
    background-color: var(--color5);
    color: var(--color1);
    font-family: var(--font-text);
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

header {
    z-index: 999;
    transition: all 0.2s, left 0s, transform 0s;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    max-width: max-content;
    padding: 20px;
    border-radius: 30px;
    margin-inline: auto;
    display: flex;
}
header.scroll {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color4opacity);
}

#stretch {
    padding-inline: 20px;
}

.item {
    padding: 10px;
    transition: 0.2s;
    color: var(--color1);
    text-decoration: none;
    font-family: var(--font-header);
    font-size: 28px;
    height: 25px;
    line-height: 25px;
}

.item:hover {
    transform: scale(1.2);
    color: var(--color1);
    text-shadow: 0px 0px 10px var(--color1);

}

header a:hover {
    background-color: transparent;
    box-shadow: 0px 0px 0px transparent;
}

main {
    background-color: var(--color4opacity);
    border-radius: 35px;
    padding: 1px;
}

article {
    margin: 10px;
}

footer {
    background-color: var(--color4);
    border-radius: 25px;
    max-width: max-content;
    margin-block: 25px;
    font-family: var(--font-text-bold);
    display: flex;

}

section {
    background-color: var(--color4);
    display: flex;
    align-items:flex-start;
    border-radius: 25px;
    margin: 25px;
}

img {
    border-radius: 25px;
    border: solid 5px var(--color3);
    max-width: 200px;
}

a {
    transition: 0.2s;
    text-decoration: none;
    color:var(--color1);
}

a:hover {
    background-color: var(--color2);
    box-shadow: 0px 0px 10px var(--color2);
}

a.reset {
    transition: 0.2s;
    text-decoration: none;
    box-shadow: 0px 0px 0px transparent;
}

a.reset:hover {
    background-color: transparent;
}

ul.footer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    padding: 25px;
}

#copyright {
    padding: 25px;
}

.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    transition: 0.2s;
    position: relative;
    align-self: flex-end;
    background-color: var(--color3);
    color: var(--color1);
    border-radius: 20px;
    padding: 20px;
    max-width: max-content;
    font-size: 20px;
    font-family: var(--font-text-bold);
    border: none;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-5px);
    background-color: var(--color2);
    box-shadow: 0px 5px var(--color3);
}

.button:active {
    transition: 0.1s ease;
    transform: translateY(3px);
    background-color: var(--color3);
    box-shadow: 0px -3px var(--color2), inset 0px -3px var(--color4);
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space {
    word-spacing: 1vw;
}

.center {
    display: grid;
    place-content: center;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
}



/* Small Desktop Screen */
@media screen and (max-width: 1000px) {
    header {
        display: block;
    }
}



/* Mobile Phones Portrait */
@media screen and (max-width: 780px) {
    .wrapper {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    header {
        display: block;
    }

    #arrow {
        margin-top: -150px;
        margin-bottom: 150px;
    }

    section {
        display: block;
    }

    ul.footer {
        display: block;
    }
    li {
        padding: 25px;
        padding-block: 0px;
    }
}