/* Fonts */
@font-face {
    font-family: Asset;
    src: url(assets/font/Asset-Regular.ttf);
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url(assets/font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(assets/font/Montserrat-Medium.ttf);
}

/* CSS Styles */
.titlescreen {
    height: 100vh;
}

body {
    background-color: #6F4C5B;
    color: #F5E8C7;
    font-family: Montserrat;
    font-size: 20px;
}

/* Header */
header {
    z-index: 999;
    background-color: #6F4C5BAA;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
    max-width: max-content;
    padding: 20px;
    border-radius: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 25px;
    margin-top: -55vh;
    margin-bottom: 50vh;
    margin-inline: auto;
    display: flex;
}

#stretch {
    padding-inline: 20px;
}

#item {
    padding: 10px;
    transition: 0.2s;
    color:#F5E8C7;
    text-decoration: none;
    font-family: Asset;
    font-size: 28px;
    height: 25px;
    line-height: 25px;
}

#item:hover {
    transform: scale(1.2);
    color: #F5E8C7;
    text-shadow: 0px 0px 10px #DEBA9D;
}

header a:hover {
    background-color: transparent;
}

main {
    background-color: #6F4C5B;
    border-radius: 60px;
    padding: 10px;
}

article {
    margin: 10px;
}

footer {
    background-color: #6F4C5B;
    border-radius: 25px;
    max-width: fit-content;
    margin-block: 25px;
    font-family: Montserrat-SemiBold;
    display: flex;

}

section {
    display: flex;
    align-items:flex-start;
    margin: 10px;
}

img {
    border-radius: 25px;
}

a {
    transition: 0.2s;
    text-decoration: none;
    color:#F5E8C7;
}

a:hover {
    color: #F5E8C7;
    background-color: #DEBA9D;
}

ul.footer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

li {
    padding: 25px;
}

#copyright {
    padding: 25px;
}

button {
    transition: 0.2s;
    align-self: flex-end;
    background-color: #9E7777;
    color: #F5E8C7;
    border-radius: 20px;
    padding: 20px;
    max-width: fit-content;
    font-size: 20px;
    font-family: Montserrat-SemiBold;
    border: none;
    cursor: pointer;
}

button:hover {
    transform: translateY(-5px);
    background-color: #DEBA9D;
    box-shadow: 0px 5px 0px #9E7777;
}

button:active {
    transition: 0.1s;
    transform: translateY(3px);
    background-color: #9E7777;
    box-shadow: 0px -2px 0px #DEBA9D;
    padding-bottom: 17px;
    border-bottom: 3px solid #6F4C5B;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    transition: 0.2s;
    align-self: flex-end;
    background-color: #9E7777;
    color: #F5E8C7;
    border-radius: 20px;
    padding: 20px;
    max-width: fit-content;
    font-size: 20px;
    font-family: Montserrat-SemiBold;
    border: none;
    cursor: pointer;
}

a.button:hover {
    transform: translateY(-5px);
    background-color: #DEBA9D;
    box-shadow: 0px 5px 0px #9E7777;
}

a.button:active {
    transition: 0.1s;
    transform: translateY(3px);
    background-color: #9E7777;
    box-shadow: 0px -2px 0px #DEBA9D;
    padding-bottom: 17px;
    border-bottom: 3px solid #6F4C5B;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.space {
    word-spacing: 1vw;
}

.center {
    display: grid;
    place-content: center;
}

.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25%;
    padding-right: 25%;
}



/* Small Desktop Screen */
@media screen and (max-width: 1000px) {
    header {
        display: block;
    }
}



/* Mobile Phones Portrait */
@media screen and (max-width: 780px) {
    .wrapper {
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5%;
        padding-right: 5%;
    }

    header {
        display: block;
    }

    section {
        display: block;
    }
}